.content1{
    width: 100%;
    height: 34vmax;
    position: relative;
   
   

}
.image1 {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    /* z-index: -1; */
}

.content2{
    padding: 1.7vmax;
    position: absolute;
  
    color: white;
}


.content2 h1{
    
    font-size: 5vmax;
    
    
}
.content2 p{
    width: 60%;
    font-size: 1.5vmax;
}
.content2 span{
    color: #006f93;
    cursor: pointer;
}
.content3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vmax;
}
.content3 h2{
font-size: 4vmax;
text-align: center;
}
.content3 p {
    width: 50%;
    text-align: center;
   
}
.content3 h4{
    color: #006f93;
}

.financial{
    width: 100%;
    height: 100%;
    /* background-color: gray; */
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 5vmax;
}

.finance{
    width: 30%;
    /* background-color: red; */
    /* padding: 2vmax; */
    border-radius: 1vmax;
    margin-top: 2vmax;
    border: 1px solid #006f93;
    transition: 1s;
    /* text-align: center; */
}
.finance .imgbox{
    width: 100%;
    margin-bottom: 1.5vmax;
    border-radius: 1vmax;
    overflow: hidden;
}
.finance img{
    width: 100%;
    transition: 1s;

}
.imgbox:hover > img{
    transform: scale(1.2);
    
}
.finance h3{
    margin-left: 2vmax;
}


.finance i{
    color: #006f93;
}
.finance span{
    color: #006f93;
    display: flex;
    align-items: center;
    margin-left: 2vmax;
}
.finance p{
    width: 80%;
    color: gray;
    margin-left: 2vmax;
}


.content4{
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1678109480836-a488dba67be8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDM1fGFldTZyTC1qNmV3fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 7vmax;
    color: white;
}
.content4 h3{
    font-size: 3.5vmax;
    margin-bottom: 2vmax;
}
.content4 p{
    width: 70%;
    text-align: center;
    margin-bottom: 2vmax;
    
}
.content4 button{
    padding: 1vmax 2vmax;
    border-radius: 1vmax;
    background-color: #006f93;
    color: white;
    border: none;
}


.content7{
    width: 100%;
    margin-top: 3vmax;
   display: flex;
   flex-direction: column;
   align-items: center;
    
}
.content7 p{
    width: 50%;
    text-align: center;
}


.content7 h6{
    margin-bottom: 1vmax;
    color: #006f93;
}
.content7 h1{
    width: 90%;
    margin-bottom: 2vmax;
    text-align: center;
}
.icon{
    margin-left: 2vmax;
    font-size: 1.5vmax;
    display: flex;
}
.icon .ri-chat-4-line{
    margin-left: 1vmax ;
   
}
.financials{
    width: 100%;
    height: 100%;
    /* background-color: gray; */
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 5vmax;
    color: white;
   
}

.finances{
    width: 30%;
    border-radius: 1vmax;
    margin-top: 2vmax;
    border: 1px solid #006f93;
    transition: 1s;
    background-color: #006f93;
   
}
.finances .imgbox{
    width: 100%;
    margin-bottom: 1.5vmax;
    border-radius: 1vmax;
    overflow: hidden;
}
.finances img{
    width: 100%;
    transition: 1s;

}
.imgbox:hover > img{
    transform: scale(1.2);
    
}
.finances h3{
    margin-left: 1.8vmax;
}


.finances i{
    color: white;
}
.finances span{
    color: white;
    display: flex;
    align-items: center;
    margin-left: 2vmax;
}
.finances p{
    width: 80%;
    color: rgb(175, 170, 170);
    margin-left: 2vmax;
    font-size: 1.2vmax;
}


@media (max-width:600px) {
    .content2 p{
        font-size: 2.5vmax;
    }
    .content3 p {
        width: 90%;
        text-align: center;
       
    }
    .finance{
        width: 80%;
    }
    .content4 p{
        width: 90%;
    }
    .content7 p{
        width: 80%;
    }
    .finances{
        width: 80%;
    }
}
